# {{ ansible_managed }}

[sssd]
domains = {{ ansible_domain }}
config_file_version = 2
services = nss, pam, sudo, autofs, ssh

[domain/{{ ansible_domain }}]
ad_domain = {{ ansible_domain }}
krb5_realm = {{ ansible_domain | upper }}
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_sasl_authid = {{ ansible_hostname | upper }}$
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = simple
simple_allow_groups = {{ role_ad_membership_allowed_group_list | join(', ') }}
